section {
  padding: 15px;
  margin: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
section section {
  border: 1px solid #eee;
}
h3 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 2rem;
}
h1 {
  padding-left: 15px;
}
h2 {
  font-size: 1rem;
  color: #999;
  margin: -15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
  padding: 10px 15px;
  font-weight: 400;
}
.demo-wrap {
  display: flex;
  flex-wrap: wrap;
}